.head {
    text-align: center;
    align-items: center;
    height: 40px;
    border: 12px solid black;
    border-radius: 12px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.button-container {

    height: 100px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: 12px solid black;
    border-radius: 12px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.start-button {
    height: 70px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    border: 5px solid black;
}

.timer {
    height: 70px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    border: 5px solid black;

}

.score-counter {
    height: 70px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    border: 5px solid black;
}

.question {
    text-align: center;
    align-items: center;
    height: 100px;
    border: 12px solid black;
    border-radius: 12px;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: xx-large;
    margin-bottom: 20px;
     
}

.answer1 {
    text-align: center;
    align-items: center;
    height: 30px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 2px;
    margin-left: 150px;
    margin-right: 150px;


}


.answer2 {
    text-align: center;
    align-items: center;
    height: 30px;
    border:3px solid black;
    border-radius: 12px;
    padding: 2px;
    margin-left: 150px;
    margin-right: 150px;

}


.answer3 {
    text-align: center;
    align-items: center;
    height: 30px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 3px;
    margin-left: 150px;
    margin-right: 150px;



}


.answer4 {
    text-align: center;
    align-items: center;
    height: 30px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 2px;
    margin-left: 150px;
    margin-right: 150px;
}

.answer {
    margin: 5px;
    font-size: 40px;
    font-weight: 500px;
    text-align: center;
    align-items: center;

}